<div class="link">
    <span><%= post.title  %></span>
    <div class="link-custom">
        <a href="/t/<%= user.username %>/<%= post.url %>" rel="noopener nofollow" target="_blank" class="open"><i class="fa-solid fa-share-from-square"></i></a>
        <button data-id="<%= post.id %>" class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <button data-id="<%= post.id %>" class="remove"><i class="fa-solid fa-trash"></i></button>
    </div>
</div>