<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/logreg.css">
    <link rel="stylesheet" href="style/components.css">
    <script src="https://kit.fontawesome.com/524dd30d0c.js" crossorigin="anonymous"></script>
    <title>Register | Artree</title>
  </head>
  <body>
    
    <div class="container">
      <nav class="navbar">
        <div class="left-nav">
          <a href="#" class="nav-items">Home</a>
          <a href="#" class="nav-items">Pricing</a>
        </div>
        <a href="#" class="nav-items">Login</a>
      </nav>
      
      <div class="login-section">
        <h1>Artree | Register</h1>
        <% if (success) { %>
          <%- include('../../components/alert.ejs', {type : 'success', msg : success}) %>
          <% } else if (error) { %>
            <%- include('../../components/alert.ejs', {type : 'error', msg : error}) %>
        <% } %>
        <form method="post" action="/api/register">
          <input name="email" type="email" placeholder="Email" value="<%= prevData?.email %>">
          <input name="fullname" type="text" placeholder="Full Name" value="<%= prevData?.fullname %>">
          <input name="username" type="text" placeholder="Username" value="<%= prevData?.username %>">
          <input name="password" type="password" placeholder="Password">
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>