<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/linktree.css">
    <script src="https://kit.fontawesome.com/524dd30d0c.js" crossorigin="anonymous"></script>
    <title><%= post.user.username %> | <%= post.title %></title>
  </head>
  <body>
    
    <div class="container">
      <div class="img-content">
        <img src="https://api.dicebear.com/7.x/pixel-art/svg?seed=aris" alt="">
      </div>
      <div class="title-content">
        <h1><%= post.user.username %></h1>
        <span><%= post.title %></span>
      </div>

      <div class="link-content">
        <% for (const link of post.links) { %>
          <a class="btn" href="/l/<%= link.id %>" rel="noopener nofollow" target="_blank"><%= link.title %></a>
        <% } %>
      </div>
    </div>

  </body>
</html>